<div class="text-center">
  <h1>Welcome to Autovir!</h1>
  <p>This page is a work in progress</p>
  <% if user_signed_in? %>
    <h1>User is logged in!</h1>
    <h1>Connect to instagram!</h1>
  <% else %>
    <h1>User is logged out!</h1>
  <% end %>
</div>


