<div class="text-center">
  <% if user_signed_in? %>
    <%= link_to twitter_connect_path, class: "btn btn-primary margin-bottom twitter" do %>
      <h3>Connect to Twitter</h3>
    <% end %>
  <% end %>
  <br>
  <%= image_tag 'logo.svg', class:"home-logo" %>
</div>
