<div class="text-center">
  <%= image_tag 'logo.svg', class:"logo-ting" %>
  <%= image_tag 'plus.png', class:"plus" %>
  <%= image_tag 'twitter.svg', class:"twitter-logo" %>
  <br>
  <br>
  <br>
  <% if user_signed_in? %>
    <button class="myButton">
    Connect to Twitter
    </button>
  <% end %>
</div>