@import "bootstrap-sprockets";
@import "bootstrap";

.home-logo {
  max-width: 600px;
}

.navbar-brand {
  font-size: 40px;
  color: black !important;

  &:hover {
    text-decoration: underline;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.twitter {
  background-color: #1DA1F2;
}
