@import "bootstrap-sprockets";
@import "bootstrap";

.home-logo {
  max-width: 600px;
}

.downthis{
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
}
.navbar-brand {
  font-size: 40px;
  color: black !important;

  &:hover {
    text-decoration: underline;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

.twitter {
  background-color: #1DA1F2;
}
